* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.starting {
  background-image: url(../images/bg.svg);
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  margin-bottom: 5px;
}

.starting header nav {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.starting header nav #BT {
  background-color: orange;
  color: black;
  border: thin solid orange;
}

.starting .box {
  max-width: 25%;
  background-color: white;
  border: thin solid white;
  margin-left: 100px;
  margin-top: 120px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translate(460px);
            transform: translate(460px);
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translate(460px);
            transform: translate(460px);
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.starting .box .box1 {
  width: 85%;
  margin: auto;
  margin-top: 35px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.starting .box .box1 h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.starting .box .box1 form input {
  width: 100%;
  padding: 10px;
  border: thin solid rgba(233, 231, 231, 0.996);
  border-radius: 5px;
}

.starting .box .box1 form button {
  color: black;
  background-color: orange;
  width: 100%;
  border: thin solid orange;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
}

.starting .box .box1 form a {
  text-decoration: none;
}

.starting .box .box1 input:focus {
  outline: thin solid orange;
}

@media (max-width: 1409px) {
  .starting .box {
    max-width: 30%;
  }
}

@media (max-width: 1305px) {
  .starting .box {
    max-width: 35%;
  }
}

@media (max-width: 1176px) {
  .starting .box {
    max-width: 40%;
  }
}

@media (max-width: 1051px) {
  .starting .box {
    max-width: 40%;
  }
}

@media (max-width: 997px) {
  .starting .box {
    max-width: 45%;
  }
}

@media (max-width: 719px) {
  .starting .box {
    max-width: 55%;
  }
}

@media (max-width: 630px) {
  .starting .box {
    max-width: 65%;
  }
}

@media (max-width: 565px) {
  .starting .box {
    max-width: 75%;
  }
}

@media (max-width: 500px) {
  .starting .box {
    max-width: 85%;
    margin-left: 40px;
  }
}

@media (max-width: 426px) {
  .starting .box {
    max-width: 95%;
    margin-left: 5px;
  }
}

@media (max-width: 360px) {
  .starting header nav img {
    width: 150px;
  }
  .starting .box {
    max-width: 95%;
  }
}

@media (max-width: 310px) {
  .starting header nav img {
    width: 80px;
  }
  .starting .box {
    max-width: 95%;
  }
}

@media (max-width: 230px) {
  .starting header nav img {
    width: 60px;
  }
  .starting .box {
    max-width: 95%;
  }
}
